---
import Layout from "src/layouts/layout.astro";
import IndexHeader from "./index-header.astro";
import Statistics from "$components/Statistics";
---

<Layout title="Finished">
  <main class="font-mono flex flex-col justify-start items-center h-full">
    <Statistics transition:name="board" client:idle />
  </main>
</Layout>
