---
import { TextBoard } from "src/components/TextBoard";
import Layout from "../layouts/layout.astro";
import { getNWords } from "$lib/words";

const targetText = (await getNWords(10)).join(" ");
---

<Layout title="AstroType">
	<main class="font-mono flex justify-center items-center h-full">
		<TextBoard client:idle targetText={targetText} />
	</main>
</Layout>
