---
import { TextBoard } from "src/components/TextBoard";
import Layout from "../layouts/layout.astro";
import { getNWords } from "$lib/words";
import IndexHeader from "./index-header.astro";

const targetText = (await getNWords(10)).join(" ");
---

<Layout title="AstroType">
	<main class="font-mono flex flex-col justify-start items-center h-full">
		<IndexHeader targetText={targetText} />
		<TextBoard
			transition:name="board"
			transition:animate="fade"
			client:idle
			targetText={targetText}
		/>
	</main>
</Layout>
