---
import { TextBoard } from "src/components/TextBoard";
import Layout from "../layouts/layout.astro";
import { getNWords } from "$lib/words";
import IndexHeader from "./index-header.astro";

const rawWordsNumber = "20";
const notValidatedWordsNumber = rawWordsNumber ? parseInt(rawWordsNumber) : 20;
const wordsNumber =
	notValidatedWordsNumber <= 0
		? 20
		: [5, 10, 20, 50, 100].includes(notValidatedWordsNumber)
			? notValidatedWordsNumber
			: 20;

const targetText = (await getNWords(wordsNumber)).join(" ");
---

<Layout title="AstroType">
	<main class="font-mono flex flex-col justify-start items-center h-full">
		<IndexHeader targetText={targetText} />
		<TextBoard
			transition:name="board"
			transition:animate="fade"
			client:idle
			targetText={targetText}
		/>
	</main>
</Layout>
