---
interface Props {
  title: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-slate-900 text-white h-screen">
    <slot />
  </body>
</html>

<style is:global>
  .pipe-cursor {
    ::after {
      content: "|";
      position: absolute;
      right: -0.4em;
      animation: blink 1s step-end infinite;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>
